mixin footer()
	+b.FOOTER.footer
		.container
			+e.row.row.justify-content-center
				+footerItem('https://telegram.me/supasayan', 'soc-tg')
				+footerItem('viber://chat?number=+380969668228', 'soc-viber')

mixin footerItem(href, img)
	.col-auto
		+e.item(href=href target="_blank")
			img(loading="lazy" src=`img/svg/${img}.svg` alt="")