mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+pic('headerBlock-bg.jpg')(class="headerBlock__bg")
		+e.container.container
			+b.section-title.text-center
				h1
					| Дизельне пальне Євро-5
					br.d-none.d-md-block
					|
					| з Болгарії та Румунії
					br.d-none.d-md-block
					|
					| з доставкою до вашого підприємства
			+e.txt-box.text-center
				+e.txt--bottom-dash Ekontrade займається постачанням ДТ на ринок України більше 10 років. Пальне опломбоване з заводу виробника з усіма потрібними документами.
				+e.txt--arrowed Для отримання точної ціни пройдіть будь ласка коротке опитування:

	// end headerBlock