mixin header()
	// start header
	+b.HEADER.header--js#header&attributes(attributes)
		.container
			+e.row.row.align-items-center.gx-3
				.col
					+e.logo(href="/")
						img(src="img/svg/logo.svg" alt="")
				.col-sm-auto.d-none.d-sm-block
					+e.tell(href="tel:+380969668228") +380 (96) 966 82 28
				.col-auto.text-center
					+e.btn(href=`#` data-src="modal-call" data-fancybox="modal") Замовити Дзвінок
					+e.tell.d-sm-none(href="tel:+380969668228") +380 (96) 966 82 28
				//-.col-auto.d-sm-none
					+menu-toggle()

	// end header